<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="about-card">
        <h2 class="text-center mb-4">About Us</h2>

        <!-- About Us Section -->
        <div class="d-flex justify-content-center align-items-center about-content">
          <!-- Image Left -->
          <div class="col-12 col-md-6 d-flex justify-content-center">
            <img [src]="aboutUsImage" class="img-fluid about-image" alt="About Us Image">
          </div>

          <!-- Text Right -->
          <div class="col-12 col-md-6 d-flex flex-column justify-content-center text-center about-text">
            <p class="text-center">{{ aboutUsText }}</p>
            <h3>{{ missionTitle }}</h3>
            <p class="text-center">{{ missionText }}</p>
          </div>
        </div>

        <!-- Features Section -->
        <h3 class="mt-5 mb-3 text-center">{{ whatWeOfferTitle }}</h3>
        <div class="row g-4">
          <div class="col-md-6" *ngFor="let feature of features">
            <div class="feature-item">
              <h4>{{ feature.title }}</h4>
              <p>{{ feature.description }}</p>
            </div>
          </div>
        </div>

        <h3 class="mt-5 mb-3 text-center">{{ ourCommitmentTitle }}</h3>
        <p class="text-center">{{ ourCommitmentText }}</p>

        <hr class="my-5">

        <h3 class="text-center mb-4">{{ ourVisionTitle }}</h3>
        <p class="text-center">{{ ourVisionText }}</p>

        <hr class="my-5">

        <!-- Meet Our Team -->
        <h3 class="text-center mb-4">Meet Our Team</h3>
        <div class="row g-4 d-flex justify-content-center">
          @for (member of teamMembers; track $index) {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
              <div class="ui-card">
                <div class="top-section" [ngStyle]="{'background-image': 'url(' + member.avatar_url + ')'}">
                  <div class="icons">
                    <div class="social-media">
                      <a [href]="member.html_url" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                  </div>
                </div>
                <div class="bottom-section">
                  <span class="title">{{member.name}}</span>
                  <div class="row row1">
                    <div class="item">
                      <span class="big-text">{{member.public_repos}}</span>
                      <span class="regular-text">Repositories</span>
                    </div>
                    <div class="item">
                      <span class="big-text">{{member.followers}}</span>
                      <span class="regular-text">Followers</span>
                    </div>
                    <div class="item">
                      <span class="big-text">{{member.following}}</span>
                      <span class="regular-text">Following</span>
                    </div>
                  </div>
                  <div class="details">
                    <p><i class="fas fa-map-marker-alt"></i> {{member.location}}</p>
                    <p><a [href]="member.blog" target="_blank"><i class="fas fa-link"></i> Website</a></p>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>

      </div>
    </div>
  </div>
</div>
